body {
    font-family: 'Roboto', sans-serif;
    background: url('assets/ct.gif') no-repeat center center fixed;
    background-size: cover;
    color: #00fff9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #000;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

header h1 {
    color: #fff;
    margin: 0;
    font-weight: 700;
    font-size: 1.5em;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: linear-gradient(45deg, #3c00ff, #4c056d);
    color: #00fff9;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    display: block;
    padding: 10px;
    background-color: #ff00c1;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    z-index: 2; /* Garante que o botão fique acima do restante do conteúdo */
}

.back-button:hover {
    background-color: #e600b4;
}

.event:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.9);
}

.event:hover {
    opacity: 1;
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 1);
}

.event::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent rgba(0, 0, 0, 0.9) transparent transparent;
    transform: translateY(-50%);
}

.year {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    font-size: 1em;
    line-height: 1.4;
    margin-top: 10px;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

footer {
    background-color: #191818;
    color: #fff;
    text-align: center;
    padding: 1px; /* Reduza este valor conforme necessário */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999; /* Defina um valor alto para garantir que o footer esteja acima de outros elementos */
}
