body {
    font-family: 'Cambria', serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
} 


header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Adiciona posição relativa ao cabeçalho */
}

header img {
    border-radius: 50%;
    width: 110px; /* Ajuste o valor conforme necessário */
    height: 110px; /* Ajuste o valor conforme necessário */
}


.contact-badges {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 20px;
    top: 50%; /* Posiciona as badges no meio verticalmente */
    transform: translateY(-50%);
}

.contact-badges a {
    margin-bottom: 10px;
}

.contact-badges img {
    height: 25px;
    width: 88px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.contact-badges img:hover {
    transform: scale(1.2);
}

.personal-info {
    text-align: left;
    margin-right: 5px;
    width: calc(500% - 240px);
}
.download-button {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; /* Adicione esta linha para alinhar o botão à direita */
}
.botao-cv {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    border: 2px solid #008CBA;
    color: #fff;
    background-color: #008CBA;
    border-radius: 5px;
    float: right; 
}

.botao-cv:hover {
    background-color: #00506b;
}

/* Adicione uma regra de media query para ajustar o layout em dispositivos menores */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-content {
        flex-direction: column; /* Coloca a imagem e as badges em coluna */
        align-items: center;
    }

    .personal-info {
        text-align: center;
        width: auto;
        margin-top: 10px; /* Espaçamento entre as badges e o nome */
    }

    .contact-badges {
        display: flex;
        flex-direction: column; /* Badges abaixo dos dados */
        align-items: center; /* Centraliza as badges */
        margin-top: -65px; /* Valor negativo para movê-las para cima */
    }

    .contact-badges a {
        margin-bottom: 10px; /* Espaçamento entre as badges */
    }

    header img {
        margin-top: 10px; /* Espaçamento entre a imagem e as badges */
    }
        .botao-cv {
        padding: 8px 16px; /* Ajuste o tamanho do botão para telas menores */
        font-size: 14px; /* Ajuste o tamanho da fonte para telas menores */
    }
}
.project-tabs {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}


.project-tab {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
    display: inline-block; /* Torna os botões de guia elementos de bloco */
    text-align: center; /* Centraliza o texto no botão */
    text-decoration: none; /* Remove sublinhado padrão de links */
    margin: 5px; /* Adiciona algum espaço entre os botões */
}

.project-tab:hover {
    background-color: #555;
}

/* Estilo para a guia ativa (selecionada) */
.project-tab.active {
    background-color: #555;
}

.project-content {
    display: none;
}

.project-content.active {
    display: block;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.project-item:hover {
    transform: scale(1.02);
}

.project-image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
    object-fit: cover; /* Adiciona esta linha para ajustar o tamanho da imagem */
}

.project-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.project-links a {
    color: #fff;
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
}

.project-item:hover .project-links {
    opacity: 1;
}

.project-description {
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
}

.project-tools {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.project-tools img {
    width: 100px; /* Defina o tamanho desejado em pixels */
    height: 30px; /* Mantém a proporção original */
    margin-right: 10px;
    border-radius: 8px;
    
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1px; /* Reduza este valor conforme necessário */
    position: fixed;
    bottom: 0;
    width: 100%;
}
